.hero-section-stp {
    flex: 1; 
    background: url(/Imagenes/IMG-20220824-WA0016.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106,141,163,0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height:700px;
}

.contact-container-stp {
    background-color: hsl(197, 7%, 21%, 0.5);
    padding: 5%;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    border: 5px solid hsl(197, 7%, 21%, 0.5);
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
}

.contact-left-stp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border: none;
    background-color: transparent;
    backdrop-filter: none;
    padding: none;
    border: none;
}


.contact-left-title-stp h2 {
    font-weight: bolder;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.contact-left-title-stp hr {
    border: none;
    width: 100%;
    height: 5px;
    background-color: #76c5f0;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-inputs-stp {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: 500;
    color: #000000;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact-inputs-stp:focus {
        box-shadow: inset 0 0 0 5px #76c5f0;
}

.contact-inputs-stp::placeholder {
    color: #313638;
}

.link-button-stp {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg, #76c5f0, #adadad);
    cursor: pointer;
    font-weight: bolder;
}

.link-button-forgot-stp {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.contact-left-stp button img {
    height: 20px;
}
