.body-hero-section {
    position: relative;
    min-height: 110vh;
    background: url(/Imagenes/IMG-20220824-WA0016.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106,141,163,0.7);
    background-blend-mode: multiply;
    overflow: hidden;
    padding: 5%;
}

.wrap-hero-section {
    min-width: 60%;
    color: #fff;
    padding: 5%;
    font-weight: bold;
    background-color: hsl(197, 7%, 21%, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    border: 5px solid hsl(197, 7%, 21%, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    gap: 20px;
    width: 75%;
    max-height: fit-content;
    box-sizing: border-box;
    justify-content: center;
    margin: 0 auto;
}

.wrap-pic-hero-section {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-pic-hero-section ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.wrap-pic-hero-section li {
    margin: 0 10px 10px 0;
}

.wrap-pic-hero-section li:last-child {
    margin-right: 0;
}

.wrap-pic-hero-section img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}