.header-landing{
    display: flex;
    justify-content: center;
    background: #313638;
    padding: 0.25rem;
}

.wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 120px;
    height: auto;
}

.menu-header-section {
    padding: 1rem;
}

.wrap-menu-header-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
    color: #fff;
}

.wrap-menu-header-section ul{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}